# Node build artifacts
#node_modules
#npm-debug.log

# Local development
*.env
*.dev
.DS_Store
*.iml
*.classpath

# Docker
#Dockerfile
#docker-compose.yml

# Folder
build/
libs/
tools/
.git/
bin/
.gradle/
.idea/
.settings/
gradle/
spark-sarehouse/
